# Series object in panda

In [7]:
import pandas as pd

In [8]:
data=[1,2,3,4,5]

In [11]:
series1=pd.Series(data)
series1

0    1
1    2
2    3
3    4
4    5
dtype: int64

# how to index change in series

In [15]:
series1=pd.Series(data , index=["a","b","c","d","e"])
series1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
#types of series
type(series1)

pandas.core.series.Series

# How to create a dataFrame

In [21]:
#creating a dataframe using a list
import pandas as pd
data=[[1,2,3,4,5],[5,4,3,2,1]]
df =pd.DataFrame(data)
df

   0  1  2  3  4
0  1  2  3  4  5
1  5  4  3  2  1

In [25]:
# creating a dataframe using a dictionary
data ={"fruits":["Aplle","mangoes","banan"], "count":[12,23,2]}
df =pd.DataFrame(data)
df

    fruits  count
0    Aplle     12
1  mangoes     23
2    banan      2

# how to merge operation

In [26]:
players ="ALi","Usmana","Rashid"
Scores = "2","5","7"
Title =["G1","G2","G3"]
df =pd.DataFrame({"name":players,"Scores":Scores,"Games":Title})
df

     name Scores  Games
0     ALi      2  Title
1  Usmana      5  Title
2  Rashid      7  Title

In [31]:
players ="ALiZafar","Usman","Rashid2"
matches = "20","59","70"
Title =["G1","G2","G3"]
df2 =pd.DataFrame({"name":players,"MAtch":matches,"Games":Title})
df2

       name MAtch Games
0  ALiZafar    20    G1
1     Usman    59    G2
2   Rashid2    70    G3